*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    width: 100%;
}

.main-header__nav i{
    cursor: pointer;
}

.entry-point__item a{
    text-decoration: none;
    color:white;
}

.contactos-list .contactos-list__item a{
    text-decoration: none;
    color:white;
}

.nav-footer_footer-list .footer-list_item a{
    text-decoration: none;
    color:white;
}

.footer-claims a{
    text-decoration: none;
    color: white;
}

.main-header .main-header__logo{
    width: 150px;
    margin: 0px auto;
    padding: 10px 0;
}

.main-header__logo img{
    width: 100%;
}

.main-header .main-header__nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 15px;
}

.main-header__nav .nav__entry-points{
    display:flex;
    gap:10px;
    list-style: none;
    color:white;
}

main{
    background-color: black;
}

.nav__entry-points .entry-point__item a, .nav__entry-points .entry-point__item i:hover{
    transition: all 250ms ease-in-out;
}

.nav__entry-points .entry-point__item a:hover, .nav__entry-points .entry-point__item i:hover{
    color: #e49b0f;
}

.main-header__nav i{
    cursor: pointer;
}


.nav-footer .nav-footer_footer-list a:hover{
    transition: all 250ms ease-in-out;
}

.nav-footer .nav-footer_footer-list a:hover{
    color:#e49b0f;
}

.form{
    padding: 60px 0px;
}

.form-login{
    max-width: 400px;
    background: white;
    padding: 30px;
    margin: 30px auto 60px auto;
    border-radius: 4px;
    text-align: center;
}

.login-title{
    margin-bottom: 20px;
}
 
.form-group{
    margin-bottom: 24px;
    text-align: left;
}


.form-group .rotulos{
    font-weight: bold;
    font-size: 16px;
    height: 20px;
    margin-bottom: 20px;
}

.form-login p{
    font-size: 12px;
    line-height: 40px;
    text-align: left;
}

.form-group .error-message{
    color: #991b1b;
    text-transform: capitalize;
    font-style: italic;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    font-size: 12px;
}

.form-group .controls.error{
    border-color: #991b1b;
}

.form-group .controls:focus{
    border-color: #1f53c5;
}

.form-group .controls {
    width:100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #cfcfcf;
    outline: none;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 3px;
}

.form-login .botons {
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    color: #ffffff;
    margin: 16px 0;
    font-size: 16px;
}

.form-login .botons:hover {
    background-color: #1446b5;
    cursor:pointer;
}



footer{
    background-color:#256b3e;
    padding: 30px 20px 35px 20px;
    margin-top: 60px;
}

.service-container{
    max-width: 1200px;
    margin:0px auto;
    display:flex;
    text-align: center;
    justify-content: space-between;
}

.footer-main{
    display:flex;
    max-width: 1200px;
    margin:0px auto;
    justify-content: space-between;
    color:white;
    align-items: flex-start;
}

.service-items{
    color:#fff;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.service-items .service-items_title_1 {
    text-align: center;
    letter-spacing: 2px;
    opacity: 80%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.service-items .service-items_text_1 {
    text-align: center;
    font-size: 14px "Open Sans";
    opacity: 70%;
    margin-top: 3px;
    letter-spacing: 2px;
    font-weight: 300;
}

.service-items .service-items_title_2 {
    text-align: center;
    letter-spacing: 2px;
    opacity: 80%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.service-items .service-items_text_2 {
    text-align: center;
    font-size: 14px "Open Sans";
    opacity: 70%;
    margin-top: 3px;
    letter-spacing: 2px;
    font-weight: 300;
}

.service-items .service-items_title_3 {
    text-align: center;
    letter-spacing: 2px;
    opacity: 80%;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.service-items .service-items_text_3 {
    text-align: center;
    font-size: 14px "Open Sans";
    opacity: 70%;
    margin-top: 3px;
    letter-spacing: 2px;
    font-weight: 300;
}

.footer-main_container-1 .footer-title{
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
}


.nav-footer .nav-footer_footer-list{
    list-style: none;
    color: white;
    margin-top: 10px;
    line-height: 1.5em;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-main_container-2 .medio-pagos{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.payment-icons {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-main .footer-main_container-3 .contactos-list{
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    line-height: 1.5em;
}


.footer-main_container-3 .footer-title{
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}

.line-1{
    margin: 20px 0px;
    opacity: 50%;
}

.footer-copyrights {
    color: #FFF;
    font-size: 14px;
    margin-left: 200px;
}

.footer-claims {
    color: #FFF;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 200px;
}

.line-1{
    margin: 20px 0px;
    opacity: 50%;
}

.line-2{
    margin: 20px 0px;
    opacity: 50%;
}

@media(max-width:780px){
    .footer-copyrights{
        margin-left: 0px;
    }

    .footer-claims{
        margin-left: 0px;
    }

    .service-container{
        margin:auto;
        justify-content: center;
    }

    .footer-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .footer-main_container-1{
        text-align: center;
        margin:auto;
    }

    .footer-main_container-2{
        text-align: center;
        margin:auto;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-main_container-3{
        text-align: center;
        margin:auto;
    }

    .service-items .service-items_title_2{
        display:none;
    }

    .service-items .service-items_text_2{
        display:none;
    }

    .service-items .service-items_title_3{
        display:none;
    }

    .service-items .service-items_text_3{
        display:none;
    }
    
}


@media(min-width:780px){

    .main-header .main-header__logo{
        width: 250px;
    }
    
    .main-header__logo img{
        width: 100%;
    }

    .main-header__nav .nav__menu-icon i{
        display:none;
    }
}

@media(min-width:1200px){
    .main-header .main-header__logo{
        width: 250px;
    }
    
    .main-header__logo img{
        width: 100%;
    }

}