<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
    <title>Grupo 3</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header__logo">
            <img src="/img/logo-proyecto.jpg">
        </div>
        <nav class="nav">
            <div class="burguer-menu">
                <i class="fa fa-bars burguer"></i>
            </div>

            <ul class="entry-points">
                <li class="entry-point__item"><i class="fa fa-search"></i></li>
                <li class="entry-point__item"><a href="/">Login</a></li>
                <li class="entry-point__item"><a href="/">Register</a></li>
            </ul>
        </nav>



        <div>
            <img src="/img/publicidad.png" class="logo-publicidad">
        </div>

        <!-- <form class="search-bar">
                <div class="input">Buscar en toda la tienda<i class="fa fa-search"></i></div>
            </form> -->


    </header>
    <main>

        <section>
            <h3>Destacados</h3>
            <div class="products-container">
                <article class="producto">
                    <div class="item">
                        <div class="item-image-container">
                            <img src="/img/aperol.jpg" class="logo">
                        </div>
                        <div class="producto">
                            <div class="nombre">
                                <p class="pdp-title">Aperol + Cinzano Sprits</p>
                            </div>
                            <div class="valores">
                                <div class="precio">
                                    <p>$3220.501</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="producto">
                    <section class="recommendations">
                        <div class="item">
                            <div class="item-image-container">
                                <img src="/img/cinzano.webp">
                            </div>
                            <div class="producto">
                                <div class="nombre">
                                    <p class="pdp-title">Cinzano segundo 750ml</p>
                                </div>
                                <div class="valores">
                                    <div class="precio">
                                        <p>$6.770</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
                <article class="producto">
                    <section class="recommendations">
                        <div class="item">
                            <div class="item-image-container">
                                <img src="/img/tresplumas.webp">
                            </div>
                            <div class="producto">
                                <div class="nombre">
                                    <p class="pdp-title">Melon 700 ml tres plumas</p>
                                </div>
                                <div class="valores">
                                    <div class="precio">
                                        <p>$6.770</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
                <article class="producto">
                    <section class="recommendations">
                        <div class="item">
                            <div class="item-image-container">
                                <img src="/img/fernet.webp" class="logo">
                            </div>
                            <div class="producto">
                                <div class="nombre">
                                    <p class="pdp-title">Fernet branca 750 mundial</p>
                                </div>
                                <div class="valores">
                                    <div class="precio">
                                        <p>$6.770</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </article>
            </div>
        </section>



    </main>
    <footer>

    </footer>



</body>

</html>